@model IEnumerable<ScheduleCinema.ViewModels.CinemaScheduleViewModel>

<link href="@Url.Content("~/Content/jquery.datetimepicker.css")" rel="stylesheet" type="text/css" />

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.datetimepicker.js"></script>
    <script type="text/javascript">
        jQuery('#scheduleDate').datetimepicker({
            format: 'd.m.Y'
        });
    </script>
}
<div class="panel-body">
    <div class="row">
        <div class="col-md-9">
            @using (Html.BeginForm(null, null, FormMethod.Get))
            {
                <div class="col-md-4">
                    Дата: <input id="scheduleDate" name="scheduleDate" type="text" value="@ViewBag.Date"/>
                </div>
                <div class="col-md-4">
                    <input id="editschedule" type="submit" value="Показать" formaction="@Url.Action("Index")"/>
                </div>
                <div class="col-md-4">
                    <input id="saveschedule" type="submit" value="Добавить" formaction="@Url.Action("Create", "CinemaSessions")"/>
                </div>
            }
        </div>
    </div>
</div>
@if (Model == null)
{
    <div class="panel-body">
        <div class="row">
            <div class="text-info">
                <p>
                    @ViewBag.Error
                </p>
            </div>
        </div>
    </div>
}
else
{
    <div class="panel-body">
        <div class="row">
            <div class="col-md-9">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>@Html.Label("Кинотеатр")</th>
                            <th>@Html.Label("Фильм")</th>
                            <th>@Html.Label("Сеансы")</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var session in Model)
                        {
                            <tr>
                                <td>
                                    @session.CinemaSessionCinemaName
                                </td>
                                <td>
                                    @session.CinemaSessionMovieName
                                </td>
                                <td>
                                    @session.CinemaSessionTimes
                                </td>
                                <td>
                                    @Html.ActionLink("Редактировать", "Edit", "CinemaSessions", new { id = session.CinemaSessionId}, null)
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
