@using ScheduleCinema.Support.HtmlHelpers
@model ScheduleCinema.ViewModels.CinemaScheduleViewModel

<div class="panel-body">
    <div class="row">
        <div class="col-md-9">
            @using (Html.BeginForm(null, null, FormMethod.Get))
            {
                <div class="col-md-4">
                    @Html.DisplayNameFor(model => model.CinemaScheduleDate): <input id="scheduleDate" name="scheduleDate" type="text" value="@Html.DisplayFor(model => model.CinemaScheduleDate)"/>
                </div>
                <div class="col-md-4">
                    <input id="editschedule" type="submit" value="Показать" formaction="@Url.Action("Index")"/>
                </div>
                <div class="col-md-4">
                    <input id="saveschedule" type="submit" value="Добавить" formaction="@Url.Action("Create", "CinemaSessions")"/>
                </div>
            }
        </div>
    </div>
</div>

<div class="panel-body">
    <div class="row">
        <div class="text-info">
            <p>
                @Html.ValidationSummary(false)
            </p>
        </div>
    </div>
</div>

@if (Model != null && Model.CinemaSessions.Any())
{
    @Html.Partial("_CinemaSchedule", Model.CinemaSessions)
}
