@model IEnumerable<ScheduleCinema.ViewModels.CinemaScheduleViewModel>

<div class="panel-body">
    <div class="row">
        <div class="col-md-9">
            @using (Html.BeginForm(null, null, FormMethod.Get))
            {
                <div class="col-md-4">
                    @Html.DisplayNameFor(model => model.CinemaSessionDate): <input id="scheduleDate" name="scheduleDate" type="text" value="@ViewBag.Date"/>
                </div>
                <div class="col-md-4">
                    <input id="editschedule" type="submit" value="Показать" formaction="@Url.Action("Index")"/>
                </div>
                <div class="col-md-4">
                    <input id="saveschedule" type="submit" value="Добавить" formaction="@Url.Action("Create", "CinemaSessions")"/>
                </div>
            }
        </div>
    </div>
</div>

    <div class="panel-body">
        <div class="row">
            <div class="text-info">
                <p>
                    @Html.ValidationSummary()
                </p>
            </div>
        </div>
    </div>

@if (Model.Any())
{
    <div class="panel-body">
        <div class="row">
            <div class="col-md-9">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CinemaSessionCinemaName)</th>
                            <th>@Html.DisplayNameFor(model => model.CinemaSessionMovieName)</th>
                            <th>@Html.DisplayNameFor(model => model.CinemaSessionTimes)</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var session in Model)
                        {
                            <tr>
                                <td>
                                    @session.CinemaSessionCinemaName
                                </td>
                                <td>
                                    @session.CinemaSessionMovieName
                                </td>
                                <td>
                                    @session.CinemaSessionTimes
                                </td>
                                <td>
                                    @Html.ActionLink("Редактировать", "Edit", "CinemaSessions", new {id = session.CinemaSessionId}, null)
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
